.page-template-page-copyright
    p
        @extend body 
        @apply pl-5 md:pl-32 pr-6 md:pr-32 xl:pr-24

    .wp-block-group
        @apply bg-cream mb-8 pb-14 pt-14
    h2
        @extend .title-secondary
    h3
        @extend .title-small
        @apply pl-5 md:pl-32 xl:pl-24 pb-5 xl:pb-0

.entry-content,
.wp-block-post-content
  ul,
  ol
    list-style-position: inside
    list-style-type: disc
    padding-left: 1.25rem
    margin: 1rem 0

  ol
    list-style-type: decimal

  li
    margin: .4rem 0